@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  font-family: 'Roboto', sans-serif;
}

body { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(17, 0, 0); */
    /* background-color: rgb(0, 0, 0); */
    /* background-color: rgb(255, 255, 255);  */
    /* justify-content: space-around; */
    padding: 0;
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.98) ), url(../images/background/jackie_robinson_montreal.jpg) no-repeat center center fixed; 
    background: linear-gradient( rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.89) ), url(../images/background/book-dark-page-open.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-position: -100px 80px; */
}

nav {
  /* position: fixed; */
  /* background-color: grey; */
  /* width: 20vw; */
  height: 100vh;
   /* top: 12vh;  */
  right:0px; 
  /* opacity:85%; */
  
  letter-spacing: 2px;
  /* margin: 50px 30px; */
  /* padding: 5000px 0px; */
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  
}

nav a {
  /* color: rgb(255, 255, 255); */
  
  text-decoration: none;
  height: 50px;
  /* border: 3px solid white; */
  /* border-color: white; */
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(255,255,255);
  text-decoration: none;
  padding: 15px 20px; 
  margin: 0 30px;
  font-size: 21px;
  font-weight: bold;
}

p{
  color: rgb(255, 255, 255);
  padding: 10px 10px;
}

/* a:hover {
  color: gold;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
} */




img{
  width: 100%; 
  /* max-height: 20vh; */
}

.content{
  display: flex;
  justify-content: center;
  padding: 0 140px;
}


.grid-container{
  background-color: rgb(39, 1, 1);
    /* display: grid; */
    column-gap: 50px;
    /* height: 100%; */
    grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.hover-underline-animation {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255,255,255);
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
  transform: scaleX(0);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.btn{
  width: 240px;
  height: 100px;
  border-radius: 30px; 
  /* box-sizing: border-box; */
  font-size: 25px;
  font-weight: bold;
  border: #fff;
  color: rgb(255, 255, 255);
  cursor:pointer;
  margin: 0 5px;
}

.donate-btn{
  background-color: rgb(0, 0, 0,0.2);
  /* background: #111;; */
  border: 2px solid;
  border-color: #8e7949cf;
  /* opacity: 30%; */
}

.apply-btn{
  background-color: #8e7949cf;
}

.hover {
  --c: #8e7949cf; /* the color */
  
  color: #0000;
  background: 
    linear-gradient(90deg,#fff 50%,var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
.hover:hover {
  --_p: 100%
}

.landing-container{
  display: flex;
  height: 40vh;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.btn-container{
  display: flex;
  justify-content: left;
  width: 100%;
}

button:hover {
  color: #001F3F;
  background-color: #fff;
}
/* CSS */
/* .btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.btn:disabled {
  cursor: default;
}

.btn:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
} */
