body { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 0, 0);
    background-color: rgb(0, 0, 0);
    /* background-color: rgb(255, 255, 255); */
    /* justify-content: space-around; */
    padding: 0;
    margin: 0;
}

nav {
  /* position: fixed; */
  /* background-color: grey; */
  width: 25vh;
  height: 80vh;
   top: 12vh; 
  right:5px;
  opacity: 30%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
}

nav a {
  /* color: rgb(255, 255, 255); */
  
  text-decoration: none;
  color: white;
  height: 50px;
  /* border: 3px solid white; */
  /* border-color: white; */
  padding: 15px 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  color: rgb(255,255,255);
  text-decoration: none;
}

/* a:hover {
  color: gold;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
} */




img{
  width: 40%; 
  /* max-height: 20vh; */
}

.content{
  display: flex;
  justify-content: center;
  padding: 0 150px;
}

.grid-container{
  background-color: rgb(39, 1, 1);
    /* display: grid; */
    column-gap: 50px;
    /* height: 100%; */
    grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.hover-underline-animation {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255,255,255);
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
  transform: scaleX(0);
}

.hover-underline-animation:hover::after {
  transform: scaleX(0.5);
}

